.contact-banner {
    background-color: rgba(0, 0, 0, .7);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px;
}

.contact {
    text-align: center;
}

.mail {
    align-items: center;
}