/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body, html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 10px;
    height: 100%;
}

header, footer, main {
    padding: 20px 10%;
    box-shadow: 0 0 3px black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1, .top-links {
    flex: .4;
}
.top-links ul {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    font-size: 1.2em;
}
.contact-banner {
    background-color: rgba(0, 0, 0, .7);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.heading {
    margin: 15px 0;
}
.contact {
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.mail {
    align-items: center;
}
.items {
    box-shadow: 0 0 3px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
}
.banner img {
    border-radius: 15px;
}

footer ul{
    display: flex;
    gap: 30px;
    justify-content: center;
} */